html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: $font-family-default;
    font-size: 14px;
    color: #fff;
	padding: 0;
	background: url("../images/bg-main.jpg") no-repeat;
	background-position: top center;
    background-size: cover;

    @include media-breakpoint-up(lg) {
       background-size: auto; 
    }
}

a {
    color: #fff;
    transition: color $time;
}

img {
    max-width: 100%;
    height: auto;
}

.clearfix {
    @include clearfix;
}

.container {
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 768px) {
	    width: 750px;
    }

    @media (min-width: 992px) {
    	width: 970px;
    }

    @media (min-width: 1200px) {
    	width: 1170px;
    }
}

.brand-text {
    color: $brand-color;
}

.text-center {
    text-align: center;
}

.wrapper-inner {
    min-height: calc(100vh - #{$footer-height});
}

.simple-link {
    &:hover {
        color: $brand-color;
    }
}