.page-header-inner {
	overflow: hidden;
	padding-top: 1rem;
	@include media-breakpoint-up(md) {
		padding-top: 40px;
	}
}

.logo-image {
    @include media-breakpoint-down(xs) {
	    width: 100px;
	    height: auto;
    }
}

.logo-link {
	text-decoration: none;
	float: left;
	margin-left: 1rem;
	@include media-breakpoint-up(md) {
		margin-left: 100px;
	}
	
}

.member-block {
	float: right;
	margin-right: 1rem;
	margin-top: 6px;
	@include media-breakpoint-up(sm) {
		margin-top: 12px;
	}
	@include media-breakpoint-up(md) {
		margin-right: 72px;
	}
}

.member-text {
	color: #fff;
}

.login-link {
	font-size: 18px;
	color: #6bc0ea;
	transition: color $time;

	&:hover {
		color: $brand-color;
	}
}