.main-part-inner {
    padding: 10vh 10vw;
    @include media-breakpoint-up(md) {
        padding-top: 109px;
        padding-left: 75px;
        padding-right: 0;
        padding-bottom: 0;       
    }

}

.page-heading {
    margin: 0;
    padding: 0;
	font-size: 36px;
	line-height: 36px;
	letter-spacing: 1.7px;
	font-style: italic;
	font-weight: bold;
	font-family: $font-family-default;
	text-shadow: 5px 0 5px rgba(80, 77, 77, 0.27);
}

.interactive-section {
    padding-top: 73px;
    max-width: 475px;
}

.chat-ref {
    display: block;
    overflow: hidden;
}

.chat-link {
    float: right;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    letter-spacing: 0.35px;
    display: inline-block;
    padding-right: 7px;
    color: #fff;
    transition: color $time;

    &:hover {
        color: $brand-color;
    }

    i {
	    padding-right: 6px;
	    font-size: 23px;
	    line-height: 20px;
    }
}

.chat-link-text {
    display: inline-block;
    padding-left: 5px;
}